body {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/848/913/162/minimalism-abstract-digital-art-lines-wallpaper-preview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-con {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}
.container {
  background-color: #103939;
  color: whitesmoke;
  width: 350px;
  height: 350px;
  border: 2px solid rgb(218, 203, 203);
  padding: 2px;
  display: flex;
  border-radius: 5px;
  justify-content: space-evenly;
}
.mini-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35%;
  font-weight: 800;
}
#acending,
#dcending {
  letter-spacing: 0.85px;
  font-size: 18px;
  width: 350px;
  text-align: center;
  border: none;
  border-bottom: 1.5px dotted white;
  align-content: center;
  height: 70px;
  background-color: transparent;
  text-transform: uppercase;
}
#showa,
#showd {
  font-weight: 100;
  font-size: 26px;
  letter-spacing: 2px;
  box-shadow: 1px 1px 3px white, -1px -1px 3px white;
  padding-inline: 13px;
}
#showw {
  width: 100%;
  height: 80px;
  align-content: center;
  text-align: center;
  /* font-weight: 900; */
  font-size: 25px;
  letter-spacing: 3px;
  background-color: #162a2a;
  border-radius: 2px;
  color: white;
  box-shadow: 3px 3px 2px whitesmoke;
}
